<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First page with Nodejs</title>
</head>
<body>
  {{> nav}}
  <h1>{{pageTitle}}</h1>
  <p>Some text here</p>
    <h1>Ho ten : {{name}}</h1>
    <h1>Vo ten: <span>{{wife}}</span> </h1>
    <button type="button" name="Home" style="width:100px;heigh:100px">
      <a href="/">Home</a>
    </button>
  {{> footer}}
</body>
</html>
